$bg: blue;
// Colors
$bg-home: #66717e;
$bg-experience: #383b53;
$bg-projects: #32213a;
$bg-contact: #221627;

$text-light: #e8eaed;
$text-dark: #2d3239;

// Theme images
$moody-home-bg: "../src/img/pexels-rachel-claire-4992820.jpg";
